{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if not user.is_authenticated %}
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="User Name" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3 form-check">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% else %}
    <h1>Hello</h1>
{% endif %}
{% endblock %}
